@font-family: 'PT Sans', sans-serif;
@font-size-base: 16px;
@line-height: 1.5;

@unit-computed: round(@font-size-base * @line-height); //24

@font-size-xxlg: 1.6rem;
@font-size-xlg: 1.4rem;
@font-size-lg: 1.1rem;
@font-size-md: 1rem;
@font-size-sm: 0.9rem;
@font-size-xs: 0.7rem;
@font-size-xxs: 0.6rem;

@font-size-h1: 2.6rem;
@font-size-h2: 2.4rem;
@font-size-h3: 2.2rem;
@font-size-h4: 2rem;
@font-size-h5: 1.8rem;
@font-size-h6: 1.6rem;

@border-radius-sm: 4px;
@border-radius: 6px;
@border-radius-lg: 10px;

@screen-xs: 480px;
@screen-sm: 768px;
@screen-md: 992px;
@screen-lg: 1200px;

@opacity-light-vimp: 1;
@opacity-light-imp: 0.7;
@opacity-light-nimp: 0.5;

@opacity-dark-vimp: 0.87;
@opacity-dark-imp: 0.54;
@opacity-dark-nimp: 0.38;

