.tabulator {
  &.tab-group {
    display: inline-block;

    .tab-link-group {
      display: flex;
      background-color: @black;
      border: 1px solid @black;
      border-radius: @border-radius;
      margin: @unit-computed / 2 0;

      .tab-link {
        flex: 1;
        padding: @unit-computed / 4;
        font-size: @font-size-lg;
        font-weight: bold;
        text-align: center;
        color: @white;
        min-width: 100px;

        &:first-child {
          border-top-left-radius: @border-radius;
          border-bottom-left-radius: @border-radius;
        }

        &:last-child {
          border-top-right-radius: @border-radius;
          border-bottom-right-radius: @border-radius;
        }

        &:not(:last-child) {
          border-right: 1px solid @white;
        }

        &.active {
          background-color: @accent;
          color: @white;
        }
      }
    }
  }

  .tab-link-group {
    display: flex;
    background-color: @white;
    width: 100%;
    border-bottom: 1px solid @gray-light;

    .tab-link {
      flex: 1;
      padding: @unit-computed / 4;
      font-size: @font-size-lg;
      font-weight: bold;
      text-align: center;
      color: @accent;

      &:not(:last-child) {
        border-right: 1px solid @gray-light;
      }

      &.active {
        background-color: @accent;
        color: @white;
      }
    }
  }
}