.tabulator {
  &.tab-group {
    display: inline-block;
    width: 100%;

    .tab-link-group {
      background-color: @black;
      border: 1px solid @black;
      border-radius: @border-radius;
      display: flex;
      margin: @unit-computed auto;
      width: 300px;

      .tab-link {
        color: @white;
        flex: 1;
        font-size: @font-size-lg;
        font-weight: bold;
        min-width: 100px;
        padding: @unit-computed / 4;
        text-align: center;

        &:first-child {
          border-bottom-left-radius: @border-radius;
          border-top-left-radius: @border-radius;
        }

        &:last-child {
          border-bottom-right-radius: @border-radius;
          border-top-right-radius: @border-radius;
        }

        &:not(:last-child) {
          border-right: 1px solid @white;
        }

        &.active {
          background-color: @accent;
          color: @white;
        }
      }
    }
  }

  .tab-link-group {
    background-color: @white;
    border-bottom: 1px solid @gray-light;
    display: flex;
    width: 100%;

    .tab-link {
      color: @accent;
      flex: 1;
      font-size: @font-size-lg;
      font-weight: bold;
      padding: @unit-computed / 4;
      text-align: center;

      &:not(:last-child) {
        border-right: 1px solid @gray-light;
      }

      &.active {
        background-color: @accent;
        color: @white;
      }
    }
  }
}